* {
  margin: 0;
}

#weatherForm {
  margin: 20px;
}

#weatherContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.weather-item {
  background-color: #dbdbdb;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-item > :first-child {
  margin-top: 10px;
}

.weather-item > * {
  margin-bottom: 7px;
}
